:root {
    --pad-foot-head: 20px 32px 20px 32px;
    --pad: 32px;
    --marg: 24px;
    --color: #313131;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: #6C6C6C;
}


/*------------------------------ Começo do Header ------------------------------*/
.titlePage {
    background-color: #f5f5f5;

    .naviPage {
        max-width: 1280px;
        margin: 0px 187px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: var(--pad-foot-head);


        & .homeTitle {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;

            p:hover {
                color: #EF5F4C;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .logo {
        width: 162px;
        height: 32px;
    }

    .controlHome {
        max-width: 1280px;
        margin: 0px 187px;
        padding: var(--pad);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .home {
            width: 592px;
            height: 176px;
            display: flex;
            gap: var(--pad);
            flex-direction: row;
            /* ajeita depois a foto com o texto */

            .homePhoto {
                width: 176px;
                height: 176px;
            }

            h1 {
                font-size: 32px;
                color: var(--color);
                line-height: 125%;
                font-weight: bold;
            }

            div p {
                font-size: 14px;
                line-height: 170%;
            }

        }

        .list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            list-style: none;
        }
    }

    .search {
        width: 24px;
        height: 24px;
    }

    .titleProfile {
        width: 40px;
        height: 40px;
    }


}

/*------------------------------ Fim do Header ------------------------------*/



/*------------------------------ Começo da Section ------------------------------*/
.container {
    background-color: #FFFFFF;
    padding: var(--pad-foot-head);
    row-gap: 24px;
    column-gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 0;
    max-width: 1280px;
    max-height: 954px;
    margin: 0px 187px;
    
    img {
        width: 286px;
        height: 286px;
    }
}

/*------------------------------ Fim da Section ------------------------------*/



/*------------------------------ Começo do Footer ------------------------------*/
.foot{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0px 187px;
    padding: 24px 32px;

    .divFoot{
        display: flex;
        gap: 24px;
    }

    span:hover{
        color: #EF5F4C;
        text-decoration: underline;
        cursor: pointer;
    }
}
/*------------------------------ Fim do Footer ------------------------------*/