:root {
    --pad-foot-head: 20px 32px 20px 32px;
    --pad: 32px;
    --marg: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

header {
    border: dashed;

    .naviPage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: var(--pad-foot-head);
        border: solid blue;

        .homeTitle {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;

            p:hover{
                color: #EF5F4C;
                text-decoration: underline ;
            }
        }
    }

    .logo {
        width: 162px;
        height: 32px;
    }

    .home {
        padding: var(--pad);
        display: flex;
        flex-direction: row;
        border: solid red;
        /* ajeita depois a foto com o texto */

        .homePhoto {
            width: 176px;
            height: 176px;
        }
    }

    .search {
        width: 24px;
        height: 24px;
    }

    .titleProfile {
        width: 40px;
        height: 40px;
    }

    
}

.container {
    border: solid blueviolet;
    padding: var(--marg);
    gap: var(--marg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    img {
        width: 286px;
        height: 286px;
    }
}

.controlHome {
    border: solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}